<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="min-h-screen bg-slate-800">
<nav class="flex justify-between p-5 bg-slate-800 text-white items-center">
  <div>
    <a href="/">
      <h1 class="text-xl underline">
        Movie Time
      </h1>
    </a>
  </div>
  <div class="flex gap-x-2 items-end">
    <a href="/">Home</a>
    <a href="/movies">Movies</a>
  </div>
</nav>
<main class="px-5 py-7">
  {{{body}}}
</main>
</body>
</html>
